.logCardList {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    /* 
    border: 10px solid yellow;
    */
}

.logCard {
    /* 
    border: 10px solid red;
    */
}

.left {
    float: left;
    /* 
    border: 1px solid orange;
    */
}

.right {
    float: right;
    /* 
    border: 1px solid green;
    */
}

.container {
    clear: both;
    display: inline-block;
    padding: 0% 5% 0% 5%;
    width: 90%;
    /* 
    border: 1px solid blue;
    */
}

.logCardTitle {
    padding: 0% 0% 0% 0%;
    margin: 0;
}

.totalTime {
    padding: 0% 0% 0% 0%;
    margin: 0;
}
