body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Square1 {
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  border-color: 'black';
}

#Square2 {
  border-width: 0px 5px 5px 5px;
  border-style: solid;
  border-color: 'black';
}

#Square3 {
  border-width: 0px 0px 5px 5px;
  border-style: solid;
  border-color: 'black';
}

#Square4 {
  border-width: 5px 5px 5px 0px;
  border-style: solid;
  border-color: 'black';
}

#Square5 {
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-color: 'black';
}

#Square6 {
  border-width: 5px 0px 5px 5px;
  border-style: solid;
  border-color: 'black';
}

#Square7 {
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-color: 'black';
}

#Square8 {
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  border-color: 'black';
}
#Square9 {
  border-width: 5px 0px 0px 5px;
  border-style: solid;
  border-color: 'black';
}

#ui_message {
  display: inline-block;
  width: 99%;
  text-align: center;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-color: red;
}